# CONFIG_MALI_MIDGARD is not set
# CONFIG_MALI_EXPERT is not set
# CONFIG_PLATFORM_THIRDPARTY is not set
# CONFIG_PLATFORM_THIRDPARTY_NAME is not set
# CONFIG_MALI_DEBUG is not set
# CONFIG_TEE_SUPPORT is not set
CONFIG_MALI_BIFROST=y
CONFIG_BT_RTKBTUSB=y
CONFIG_DRM_BATTERY_BMP=y
CONFIG_CHARGER_IP2315=y
CONFIG_LEDS_IS31FL32XX=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_LEDS_TRIGGER_MULTI_CTRL=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_RTC_HCTOSYS_DEVICE="rtc1"
CONFIG_RTC_SYSTOHC_DEVICE="rtc1"
